---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: {{ site.font-family | join: "," }};
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 600;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: gray;
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;
//$content-width:    1600px;

$on-palm:          550px;
$on-laptop:        780px;


// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.dont-break-out {

  /* Careful, this breaks the word wherever it is without a hyphen */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* Adds a hyphen where the word breaks */
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

}

@import
        "normalize",
        "base",
        "layout",
        "color",
        "syntax-highlighting"
;
a { color: purple; text-decoration: none; -webkit-transition: color .4s; transition: color .4s; }

.post-list-title { margin-bottom: 12px; font-weight: bold; font-size: 2.2rem; font-family: "Lucida Bright", Georgia, serif; background-color: purple; color: white; padding: 5px 0px 5px 5px; }

.logo a:hover { color: gray; background-image: -webkit-linear-gradient(bottom, gray, gray); background-image: linear-gradient(to top, gray, gray); text-shadow: -1px -1px 0 #FDFDFD,1px -1px 0 #FDFDFD,-1px 1px 0 #FDFDFD,1px 1px 0 #FDFDFD; background-repeat: repeat-x; background-size: 2px 2px; background-position: 0 96%; }

h1, h2, h3, h4, h5, h6 { margin-top: 1.2rem; margin-bottom: 0.8rem; font-weight: bold; color: purple; }

.post-card-hr { margin-top: 5px; margin-bottom: 10px; border-top: 1px solid plum; }

.container { position: relative; width: 100%; max-width: 960px; margin: 0 auto; padding: 10px 10px; box-sizing: border-box; border: none; }

.article-title { margin-bottom: 3px; font-weight: bold; font-size: 2.4rem; font-family: "Lucida Bright", Georgia, serif; color: purple; }

.logo { margin-bottom: 12.5px; font-weight: 600; font-style: normal; font-size: 2.7rem; font-family: "Lucida Bright", Georgia, serif; }
