{% assign posts = include.posts %}
{% assign cur_limit = include.limit %}
{% assign cnt = posts | size %}
{% if cur_limit and cur_limit >= 0 %}
{% assign final_limit = cur_limit %}
{% else %}
{% assign final_limit = cnt %}
{% endif %}

{% for post in posts limit:cur_limit %}
<article class="post_card post">
    <header class="post_header">
    <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
    <time class="post_date">{{ post.date | date: "%B %-d, %Y" }}</time>
    </header>
    <footer class="post_meta">
    </footer>
    <hr class="post-card-hr" />
</article>
{% endfor %}
