a { color: purple; text-decoration: none; }

h1, h2, h3, h4, h5, h6 { margin-top: 1.2rem; margin-bottom: 0.8rem; font-weight: bold; color: purple; }

.container { position: relative; width: 100%; max-width: 960px; margin: 0 auto; padding: 10px 10px; box-sizing: border-box; border: none; }

/////////////////////////////////////////////
html,.container {
  position:relative;
  min-height:100%;
}

body {
  min-height:100%;
  height:auto;
}

.page-content {
    min-height:100%;
    box-sizing: border-box;
    height:auto;
    padding-bottom: 140px; // space reserved for footer
}

.site-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 0rem;
  width:100%;

  // footer style
  color: #99999a; // footer text color
  background-color: #f5f5f5; // footer background color

  .container{
      padding: 24px 24px;
  }
  .center {
      text-align: center;
      margin-top: 6px;
      margin-bottom: 6px;
  }
}


// Effects
.logo {
  margin-bottom:12.5px;
  font-weight:$font-weight-bold;
  font-style: normal;
  font-size: 2.7rem;
  font-family: "Lucida Bright", Georgia, serif;
}

@include media-query($on-laptop) {
  .site-nav {

    /* flex box */
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */// Import partials from `sass_dir` (defaults to `_sass`)
    display:none;

    -webkit-justify-content: center;
    justify-content:center;

    @include media-query($on-laptop) {
      border-top:1px solid #ddd;
      border-bottom:1px solid #ddd;
      padding-top:0.5em;
      padding-bottom:0.5em;
    }
  }
  
  #menu-toggle:checked+.site-nav {
    opacity: 1;
    display:block;
    height: auto;
    margin-bottom:-25px;
  }
}

//  added from chatgpt  //
.site-nav li,
.nav li {
  list-style: none;          // no bullets
}

/* --- Fix mobile-nav left offset --- */
ul.page-link,                // the generated nav list
.site-nav ul {               // just in case you add other lists later
  padding-inline-start: 0;   // or `padding-left: 0;` for older syntax
  margin: 0;                 // keeps vertical rhythm tight
}

.site-nav li::marker,
.nav li::marker {            // Safari / iOS fallback
  content: '';
}
//                      //

input#menu-toggle {
  display:none;
}

.nav .menu-icon {
  display:none;
  position:absolute;
  right:5%;

  @include media-query($on-laptop) {
    top: 67px;

    @include media-query(400px) {
      top: 13px;
    }

    display: block;
    text-align: center;

    &:hover {
      >svg {
        path {
          fill: $grey-color;
        }
      }
    }

    > svg {
      width: 18px;
      height: 15px;


      path {
        fill: $grey-color-dark;
  } } }
}


.site-header {
  text-align:right;
  @include media-query($on-laptop){
    text-align: center;
    margin-bottom: 40px;
  }
  nav a {
    font-weight:400;
  }
}

.post {
  @extend .dont-break-out;
}

.post_header {
  margin-bottom:3px;
}

.post-card-hr { margin-top: 5px; margin-bottom: 10px; border-top: 1px solid #ddd; }


.post_title {
  margin-bottom: 1px;
  font-weight: bold;
  font-size: 2.0rem;
}

.post_date {
  color:#888;
  font-size:1.4rem;
}

p.readmore {
  text-align:right;
}

.post_meta {
  .author_meta {
    img {
      height:24px;
      width:24px;
    }
  }
  .meta-tag{
      padding-left: 2px;
      padding-right:2px;
  }
  .meta-location{
      padding-left: 2px;
      padding-right:2px;
  }
}

.article-header{
    border-bottom:1px solid #ddd;
    margin-bottom: 15px;
}

.post-list-title { margin-bottom: 12px; font-weight: bold; font-size: 2.2rem; font-family: "Lucida Bright", Georgia, serif; background-color: purple; color: white; padding: 5px 0px 5px 5px; }

.article-title { margin-bottom: 3px; font-weight: bold; font-size: 2.4rem; font-family: "Lucida Bright", Georgia, serif; color: purple; }

.article-meta {
    margin-bottom: 5px;
    .meta-date{
        padding-left: 3px;
        padding-right:3px;
    }
    .meta-author{
        padding-left: 3px;
        padding-right:3px;
    }
    .meta-tag{
        padding-left: 3px;
        padding-right:3px;
    }
    .article-meta-row {
        margin-bottom: 0px;
    }
}

.article-content {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom:1px solid #ddd;
}

.article-footer {

  padding:2rem 0;

  border-bottom:1px solid #ddd;

  .share {
    text-align:center;
  }

  .share-link {
    text-decoration:underline;
    margin-left:8px;
  }

}

/* author info */


.author {
  @media (max-width: $on-laptop) {
    display:inline-block;
    text-align:center;
  }
}

.authorimage {
  @media (min-width: $on-laptop+1) {
    float:left;
  }
  display:inline-block;
  width: 90px;
  height: 90px;
  border-radius: 5%;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  margin-right: 10px;
}

.authorinfo {
  .bio {
    color:#999;
  }
}



/* footer */

.footer {
  float:center;
}

.left {
  text-align:center;

  @media (min-width: $on-laptop) {
    text-align:left;
  }
}

.right {
  text-align:center;

  @media (min-width: $on-laptop) {
    text-align:right;
  }

}

/* icon */

.icon {
  vertical-align: bottom;
}

body.custom-background {
  background-image: url('/images/background.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll; }

/* Archive page */

.category-name {
  padding-top:20px;
  text-transform:lowercase;
  font-variant:small-caps;
  h2 {
   letter-spacing:0;
   border-bottom: 1px solid #ddd;
  }
}

div.post_title span.date {
  font-size: 80%;
  color: $grey-color;
}

/* Pagination */


.pagination {
  width:50%;
}  

.pagination.older-post{
  float: right;
  text-align: right;
}

/* others */

.small-font{
  font-size:$small-font-size;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Smaller than tablet */
@media (max-width: 750px) {}

/* Smaller than tablet */
@media (max-width: 550px) {}

